.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    z-index: 100;
    margin-left: 25px;
    span {
        display: block;
        width: 40px;
        height: 2px;
        background-color: #ffffff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, .3);
        transition: .4s ease all;     
    }
    &.active {
        span {
            box-shadow: none;
        }
        span:nth-child(1) {
            transform: rotate(45deg) translate(5px, 13px);
            transition: .4s all;
        }
        span:nth-child(2) {
            transform: translateX(-100%);
            opacity: 0;
            transition: .4s all;
        }
        span:nth-child(3) {
            transition: .4s all;
            transform: rotate(-45deg) translate(3px, -11px);
        }
    }
}

.hidden-menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease all;
    &.active {
        top: 0;
        visibility: visible;
        opacity: 1;
        transition: .4s ease all;
    }
    &__block {
        padding: 110px 30px;
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background: -webkit-linear-gradient(45deg, rgb(68, 149, 206), rgb(87, 184, 255));
        background: -moz-linear-gradient(45deg, rgb(68, 149, 206), rgb(87, 184, 255));
        background: linear-gradient(45deg, rgb(68, 149, 206), rgb(87, 184, 255));
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li {
            position: relative;
            margin-bottom: 35px;
        }
    }
    &__link {
        color: #fff;
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .7;
        transition: .4s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
}